$bg_color: #212121;
$main_font_color: #A9E1ED;
$main_font_size: 1.5rem;
$border_color: #A9E1ED;
$border_radius: 0.3rem;
$border_width: 0.2rem;
$opacity: 0.7;
$username_color: white;
$user_font_size: 1.6rem;
$username_hover_color: #ffe4af;
$videoArticle_border_bottom_color: white;
$videoArticle_border_bottom_width: 0.2rem;
$videoArticle_border_bottom_style: solid;
$copyrightSize: 1.5rem;
$title_font_size: 2rem;
$error_font_color: red;