$bg_color: #212121;
$darker_bg_color: #1F1F1F;
$green_bg_color: #1B2121;
$main_font_color: #A9E1ED;
$main_font_size: 1.5rem;
$main_padding_top: 11vh;
$video_main_padding_top: 16vh;
$border_color: #A9E1ED;
$border_radius: 0.3rem;
$border_width: 0.2rem;
$opacity: 0.7;
$username_color: white;
$user_font_size: 1.6rem;
$username_hover_color: #ffe4af;
$videoArticle_border_bottom_color: white;
$videoArticle_border_bottom_width: 0.2rem;
$videoArticle_border_bottom_style: solid;
$copyrightSize: 1.5rem;
$title_font_size: 2rem;
$error_font_color: red;
$avatar_width: 2rem;
$avatar_height: 2rem;
$big_avatar_width: 4rem;
$big_avatar_height: 4rem;
$input_box_indent: 1rem;
$video_title_font_size: 1.6rem;
$mata_right_padding: 0.3rem;
$basic_component_font_size: 1.2rem;