footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    bottom: 0;
    .footerArea{
        width: inherit;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .copyright{
            position: absolute;
            font-size: $copyrightSize;
            font-weight: bold;
            font-stretch: ultra-expanded;
            background-color: $bg_color;
        }
        .footerImg{
            width: inherit;
            height: inherit;
            object-fit: cover;
            z-index: -99;
        }
    }

}