
.formSection{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleFrame{
        width: 60vw;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $title_font_size;
        
        .pagetitle{
            text-align: center;
            font-weight: bold;
        }
    }
    .formFrame{
        @include laptop(){
            width: 60vw;
        }
        @include tablet(){
            width: 100%;
        }
        @include smartPhone(){
            width: 100%;
        }
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .warning{
            color: red;
            font-size: 1.5rem;
            padding-bottom: 3vh;
        }

        form{
            @include laptop(){
                width: 40vw;
            }
            @include tablet(){
                width: 100%
            }
            @include smartPhone(){
                width: 100%;
            }
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div{
                width: 100%;
                height: 8vh;
                display: flex;

                input{
                    text-indent: $input_box_indent;
                    height: 6vh;
                    width: 100%;
                    font-size: $main_font_size;
                    box-sizing: border-box;
                    border-radius: $border_radius;
                    border-width: $border_width;
                    border-style: solid;
                    border-color: $border_color;
                    background-color: black;
                    outline: none;
                    color: inherit;
                }
                .socialTab{
                    width: 100%;
                    height: 6vh;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        width: 100%;
                        @include laptop(){
                            font-size: $main_font_size;
                        }
                        @include tablet(){
                            font-size: 0.8rem;
                        }
                        @include smartPhone(){
                            font-size: 0.5rem;
                        }
                    }
                }
                .submit{
                    text-indent: 0;
                    &:hover{
                        color: white;
                        cursor: pointer;
                        background-color: $border_color;
                    }
                }
            }
            .recorder{
                display: flex;
                flex-direction: column;
                align-items: center;

                .preview{
                    width: 100vw;
                    height: 95vh;
                    background-color: black;
                    transform: rotateY(180deg);
                    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
                    -moz-transform:rotateY(180deg); /* Firefox */
                }
                .hidden{
                    display: none;
                }

                .recordBtn{
                    display: flex;
                    width: 100%;
                    height: 6vh;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    opacity: 1.0;
                    font-weight: bold;
                    font-size: $main_font_size;
                    box-sizing: border-box;
                    border-radius: $border_radius;
                    border-width: $border_width;
                    border-style: solid;
                    border-color: $border_color;
                    background-color: black;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        color: white;
                        background-color: $border_color;
                    }
                }

                .redFont{
                    color: red;
                }
            }

            .toFullScreen{
                .preview{
                    width: 100vw;
                    height: 94vh;
                }
                .recordBtn{
                    width: 100vw;
                    height: 6vh;
                }
            }

            .fileArea{
                display: flex;
                width: 100%;
                height: 8vh;
                .label{
                    display: flex;
                    width: 100%;
                    height: 6vh;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: bold;
                    font-size: $main_font_size;
                    box-sizing: border-box;
                    border-radius: $border_radius;
                    border-width: $border_width;
                    border-style: solid;
                    border-color: $border_color;
                    background-color: black;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        color: white;
                        background-color: $border_color;
                    }
                }
                .file{
                    display: none;
                }
            }
        }
    }
}