
.videoSection{
    width: 100%;
    display: grid;
    @include smartPhone(){
        grid-template-columns: 100vw;
    }
    @include tablet(){
        grid-template-columns: 80vw;
    }
    @include laptop(){
        grid-template-columns: 80vw;
    }
    grid-template-rows: 10vh repeat(auto, 85vh);
    justify-content: center;
    padding-bottom: 10vh;
    .videoSectionTitleArea{
        align-self: center;
        justify-self:left;
        @include smartPhone(){
            width: 100%;
        }
        @include tablet(){
            width: 100%;
        }
        @include laptop(){
            width: 90vw;
        }
        .videoSectionTitle{
            background-color: $main_font_color;
            color: white;
            @include smartPhone(){
                font-size: 1.5rem;
            }
            @include tablet(){
                font-size: 1.5rem;
            }
            @include laptop(){
                font-size: 2.0rem;
            }
        }
    }
    .videoArticle{
        padding-top: 5vh;
        height: 100%;
        @include smartPhone(){
            width: 100vw;
        }
        @include tablet(){
            width: 100vw;
        }
        @include laptop(){
            width: 80vw;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        div{
            height: 80vh;
            width: 100%;
            display: grid;
            @include smartPhone(){
                grid-template-rows: 10% 10% 60% 5% 15%;
                grid-template-columns: 100%;
            }
            @include tablet(){
                grid-template-rows: 10% 10% 60% 5% 15%;
                grid-template-columns: 100%;
            }
            @include laptop(){
                grid-template-rows: 10% 10% 70% 5% 5%;
                grid-template-columns: 80vw;
            }
            align-items: center;
            .userInfo{
                display: flex;
                align-items: center;
                .avatar{
                    width: 2rem;
                    height: 2rem;
                }
                .username{
                    padding-left: 0.5rem;
                    color: $username_color;
                    font-size: $user_font_size;
                    font-weight: bold;
                    opacity: 1.0;
                    &:hover{
                        color: $username_hover_color
                    }
                }
            }
            .title{
                font-size: 1.2rem;
                align-self: center;
                font-weight: bold;
            }
            .video{
                width: 100%;
                height: 100%;
                background-color: black;
            }
            .likeComment{
                height: 100%;
                display:flex;
                font-size: 1.5rem;
                align-items: center;
                
                .like{
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }
                .comment{
                    padding-left: 1rem;
                }
                .commentCnt{
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }
            }
            .descriptionHashtags{
                height: 100%;
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
    
                .description{
                    padding-right: 1rem;
                }
                .hashtag{
                    padding-left: 0.5rem;
                }
            }
        }
        border-bottom-width: $videoArticle_border_bottom_width;
        border-bottom-style: $videoArticle_border_bottom_style;
        border-bottom-color: $videoArticle_border_bottom_color;
    }
}