
.profileSection{
    @include smartPhone(){
        width: 100vw;
    }
    @include tablet(){
        width: 80vw;
    }
    @include laptop(){
        width: 80vw;
    }
    height: auto;
    .userInfoBig{
        border-bottom-color: $videoArticle_border_bottom_color;
        border-bottom-width: $videoArticle_border_bottom_width;
        border-bottom-style: $videoArticle_border_bottom_style;
    }
    .editInfo{
        display: flex;
        justify-content: flex-end;
        padding-right: 3vw;
        .editProfile{
    
        }
    }
    .title{
        padding-top: $main_padding_top;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .userVideos{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto, 30vh);
    
        .videoArticle{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 1fr;
                justify-content: center;
                align-items: center;
                background-color: $green_bg_color;
    
                .videoFrame{
                    width: 100%;
                    @include smartPhone(){
                        height: 15vh;
                    }
                    @include tablet(){
                        height: 20vh;
                    }
                    @include laptop(){
                        height: 25vh;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow-y: hidden;
                    .video{
                        max-width: 100%;
                    }
                }
        }
    }
}
