
.watchVideoSection{
    padding-top: 2vh;
    padding-bottom: 10vh;
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-rows: 60vh 10vh 10vh;
    grid-template-columns: 1fr;
    background-color: $green_bg_color;
    
    .videoFrame{
        outline: none;
        padding-top: 5vh;
        width: 80vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        background-color: $darker_bg_color;
        
        .video{
            max-width: 80vw;
            max-height: 50vh;
            justify-self: center;
            object-fit: cover;
        }
        .fullScreenVideo{
            max-width: 100vw;
            max-height: 100vh;
        }
        
        .controlPanel{
            position: absolute;
            align-self: flex-end;
            background-color: black;
            z-index: 100;
            width: inherit;
            height: max-content;
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .topPanel{
                width: inherit;
                height: max-content;
                display: flex;
                flex-direction: column;
                .timeline{
                    width: inherit;
                    background-color: $main_font_color;
                }
            }
            .bottomPanel{
                color: white;
                padding-top: 1vh;
                width: inherit;
                height: max-content;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                .bottomFrontPanel{
                    width: 60%;
                    height: max-content;
                    display: flex;
                    align-items: center;
                    .play{
                        font-size: 1.5rem;
                        padding-left: 1rem;
                    }
                    .currentTime{
                        padding-left: 1rem;
                    }
                }
                .bottomBackPanel{
                    width: 40%;
                    height: max-content;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .mute{
                        font-size: 1.3rem;
                    }
                    .fullscreen{
                        font-size: 1.1rem;
                        padding-left: 1rem;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
    }
    .topMenu{
        height: 100%;
        align-self: start;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-bottom-color: $videoArticle_border_bottom_color;
        border-bottom-width: $videoArticle_border_bottom_width;
        border-bottom-style: $videoArticle_border_bottom_style;
        
        .hashtags{
            display: flex;
            li{
                padding-right: 0.5rem;
            }
        }
        .videoTitle{
            font-size: $video_title_font_size;
            color: white;
        }
        .viewLikeDate{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .view{
                padding-right: $mata_right_padding;
            }
            .heart{
                padding-right: $mata_right_padding;
            }
            .like{
                padding-right: $mata_right_padding;
            }
            .date{
                width: max-content;
                padding-left: 3rem;
            }
        }
        .management{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .edit{

            }
            .delete{

            }
        }
    }
    .bottomMenu{
        display: grid;
        grid-template-columns: 20% 80%;
        padding-top: 2rem;
        
        .ownerInfo{
            height: max-content;
            display: flex;
            align-items: center;
            .ownerAvatar{
                width: $avatar_width;
                height: $avatar_height;
            }
            .ownername{
                font-size: $user_font_size;
                padding-left: 0.5rem;
            }
        }
        .videoDescription{
            color: white;
            padding-top: 1rem;
            padding-left: 2rem;
        }
    }
}