extends base

block content
    section.formSection
        div.titleFrame
            h2.pagetitle #{pageTitle}
        div.formFrame
            p.warning If you delete your account, you will lose your whole data. Is that okay?
            form(method='post')
                div
                    input(name='password' value=password type='password' placeholder='Password' required).password
                div
                    input(type='submit' value='Confirm').submit
