extends partials/base



block content 
    h1 Edit Video
    form(method="POST")
        input(name="title" type="text" placeholder="Video Title" value=video.title required)
        input(type="submit" value="Edit")
        a(href=`/video/${video.id}`) &larr; back
