extends partials/base
include mixins/video


block content
    span 
        input(type='text' placeholder='search')
    span 
        button send
    h2 Trending Videos
    if videos
        each video, index in videos
            +video(video, index)
        else 
            div Sorry, No Result.
    else 
        div Sorry, No Result.
