extends base
include mixins/video


block content
    section.videoSection
        div.videoSectionTitleArea
            h2.videoSectionTitle
                i.fab.fa-tumblr Trending Videos        
        if videos
            each video in videos
                +video(video)
            else 
                div Sorry, No Result.
        else 
            div Sorry, No Result.
