extends base
include mixins/video


block content
    h2 Trending Videos
    hr
    if videos
        each video, index in videos
            +video(video, index)
        else 
            div Sorry, No Result.
    else 
        div Sorry, No Result.
