extends base
include mixins/video


block content
    section.videoSection
        div.videoSectionTitleArea
            h2.videoSectionTitle
                i.fab.fa-tumblr #{videoTitle}       
        if videos
            each video in videos
                +video(video)
            else 
                div Sorry, No Result.
        else 
            div Sorry, No Result.

block scripts
    script(src="/static/js/home.js")
