extends base
include mixins/video


block content
    if videos
        each video, index in videos
            +video(video, index)
        else
            h2 Sorry, No Result.
    else
        h2 Sorry, No Result.
    hr
