extends base
include mixins/video


block content
    section.videoSection
        form(method='get' action='/search').searchForm
            input(name='keyword' value=`${keyword}` type='text' placeholder='search' required).searchBox
            input(type='submit' value='search').searchBtn
        //- div.videoSectionTitleArea
        //-     h2.videoSectionTitle
        //-         i(class="fa-solid fa-magnifying-glass") #{pageTitle}
        if videos
            each video in videos
                +video(video)
            else
                div.noVideo
                    h2 Sorry, No Result.
        else
            div.noVideo
                h2.noVideo Sorry, No Result.
