extends base
include mixins/video


block content
    section.videoSection
        div.videoSectionTitleArea
            h2.videoSectionTitle
                <i class="fa-solid fa-magnifying-glass"> #{pageTitle}</i> 
        if videos
            each video in videos
                +video(video)
            else
                div.noVideo
                    h2 Sorry, No Result.
        else
            div.noVideo
                h2.noVideo Sorry, No Result.
