extends partials/base
include mixins/video


block content
    form(method='get')
        input(name='keyword' type='text' placeholder='search' required)
        input(type='submit' value='search')
    if videos
        each video, index in videos
            +video(video, index)
        else
            h2 Sorry, No Result.
    else
        h2 Sorry, No Result.
    hr
