extends base



block content 
    section.formSection
        div.titleFrame
            h2.title #{pageTitle}
        div.formFrame
            small.errorMessage #{errorMessage}
            form(method='post' enctype='multipart/form-data')
                div#recorder.recorder
                    video(controls=false)#preview.preview
                    button.recordBtn#recordBtn 
                        i(class="fa-solid fa-record-vinyl")#recordIcon record
                div.fileArea
                    label(for='video').label
                            i(class="fa-solid fa-camera") Video( under 10MB )
                    input(name='video' type='file' accept='video/*' id='video' required).file
                div
                    input(name='title' type='text' placeholder='Title' maxLength='80' required)
                div
                    input(name='description' type='text' placeholder='description' maxLength='200')
                div
                    input(name='hashtags' type='text' placeholder='hashtags, separated by comma')
                div
                    input(type='submit' value='Save').submit
                div
                    a(href='/').locationSign &larr; Go Home

block scripts
    script(src='/static/js/recorder.js')