extends base
include mixins/video

block content
    div
        h3 #{user.username}'s profile
        img(src=user.avatarUrl width='100px' height='100px')
        if userDTO._id === String(user._id)
            a(href='/user/edit') Edit profile &rarr;
        hr
    div
        h3 #{user.username}'s videos
        if user.videos
            each video, index in user.videos
                +userVideo(video, index, user.username)
            else 
                div Sorry, No Result.
        else 
            div Sorry, No Result.


    
