extends base


block content
    div
        h3 Hello #{userDTO.username}
        img(src=userDTO.avatarUrl width='100px' height='100px')
        hr
        a(href='/user/edit') Edit profile &rarr;
    
