extends base
include mixins/video

block content
    section.profileSection
        div.userInfoBig
            img(src=user.avatarUrl width='100px' height='100px').avatar
            h3.username #{user.username}
        div.editInfo
            if userDTO._id === String(user._id)
                a(href='/user/edit').editProfile Edit profile &rarr;
        div.userVideos
            if user.videos
                each video in user.videos
                    +profileVideo(video, user.username)
                else 
                    div Sorry, No Result.
            else 
                div Sorry, No Result.
        div.paginationSection


    
